.is-funky {
    background-image: linear-gradient(to right, #006064, #880E4F);
}
.is-funky .title,
.is-funky .subtitle {
    color: #FFF;
}    	
.screenshot {
	border: 1px dotted #CCC;
	padding: 10px;
	margin-bottom: 1em;
}
